.container{
    max-width:1140px;
    margin : 0 auto;
}
.d-flex{
    display:flex;
    flex-wrap: wrap;
}
.img{
    width: calc(33.33% - 20px);
    margin: 0 10px;
}
.d-none{
    display: none;
}
.justify-center{
    justify-content: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}